<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concesionaria de Autos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body style="font-family: 'Inter', sans-serif;">
    <header>
        <h1 id="title">
            Concesionaria de Autos y Motos
        </h1>
        <img src="../assets/logo.jpg" id="logo" height="100px" width="100px">
        <nav id="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="./views/tabla-productos.html">Productos</a></li>
                <li><a href="./views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
            <h2>
                Audi A8
            </h2>
            <article>
                <img src="https://cdn-drivek-datak.motork.net/configurator-imgs/cars/it/Original/AUDI/A8/40851_SEDAN-4-DOORS/audi-a8-2021-front-side-1.jpg" height="500" weight="500"/>
                <iframe
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/0Vqwnc9twAg" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
                <p>
                    El Audi A8 2024 es un sedán de lujo que combina elegancia y tecnología avanzada.<br />
                    Destaca por su diseño moderno y sofisticado, ofreciendo una experiencia de conducción superior.<br />
                    Equipado con las últimas innovaciones en seguridad y confort, es la elección perfecta para quienes buscan un vehículo de alta gama con prestaciones excepcionales.<br />
                    A partir de <strong>€108.500</strong>
                </p>
            </article>
    </main>

    <footer id="footer">
        <section id="logo-footer">
            <h4>
                Concesionaria de Autos y Motos
            </h4>
            <img src="../assets/logo.jpg" id="logo" height="100px" width="100px">
        </section>

        <small id="derechos">
            Concesionaria de Autos - Todos los derechos reservados - 2025 ®
        </small>  
    </footer>
</body>
</html>