<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMW Serie 7 (E38)</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body style="font-family: 'Inter', sans-serif;">
    <header>
        <h1 id="title">
            Concesionaria de Autos
        </h1>
        <img src="../assets/logo.jpg" id="logo" height="100px" width="100px">
        <nav id="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="./views/tabla-productos.html">Productos</a></li>
                <li><a href="./views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>
                BMW Serie 7 (E38)
            </h2>
            <article>
                <img src="https://storage.edidomus.it/ListinoAuto/FOTO_A_16_9_640/00015963.JPG" />
                <iframe width="560" height="315" src="https://www.youtube.com/embed/s0WWylHflBI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>
                    <strong>BMW Serie 7 (E38).</strong><br>
                    Este auto es un sedán de lujo producido entre 1994 y 2001. Se destaca por su diseño elegante y sofisticado, combinado con un rendimiento excepcional.<br>
                    Equipado con avanzadas tecnologías de la época, ofrece una experiencia de conducción cómoda y segura.<br>
                    Es una opción ideal para quienes buscan un vehículo con clase y prestaciones superiores.
                </p>
                <p>
                    A partir de <strong>€8.500</strong>
                </p>
            </article>
        </section>
    </main>

    <footer id="footer">
        <section id="logo-footer">
            <h4>
                Concesionaria de Autos y Motos
            </h4>
            <img src="../assets/logo.jpg" id="logo" height="100px" width="100px">
        </section>

        <small id="derechos">
            Concesionaria de Autos - Todos los derechos reservados - 2025 ®
        </small>  
    </footer>
</body>
</html>