<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Productos</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body style="font-family: 'Inter', sans-serif;">
    <header>
        <h1 id="title">
            Concesionaria de Autos y Motos
        </h1>
        <img src="../assets/logo.jpg" id="logo" height="100px" width="100px">
        <nav id="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./views/tabla-productos.html">Productos</a></li>
                <li><a href="./views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Precio</th>
                    <th>Codigo Producto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>BMW</td>
                    <td>Serie 7 (E38)</td>
                    <td>€8.500</td>
                    <td>853</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Audi</td>
                    <td>A8</td>
                    <td>€108.500</td>
                    <td>546</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Tesla</td>
                    <td>Model 3</td>
                    <td>€40.490</td>
                    <td>254</td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer id="footer">
        <section id="logo-footer">
            <h4>
                Concesionaria de Autos y Motos
            </h4>
            <img src="../assets/logo.jpg" id="logo" height="100px" width="100px">
        </section>

        <small id="derechos">
            Concesionaria de Autos y Motos - Todos los derechos reservados - 2025 ®
        </small>
    </footer>
</body>

</html>